body {
background: radial-gradient(circle, #020617, black);
color: #00ff9c;
font-family: monospace;
text-align: center;
}

h1 {
letter-spacing: 2px;
}

.card {
background: rgba(0,0,0,0.7);
margin: 15px;
padding: 15px;
border-radius: 12px;
box-shadow: 0 0 20px #00ff9c;
}

button {
background: black;
color: #00ff9c;
border: 1px solid #00ff9c;
padding: 10px;
margin: 5px;
border-radius: 8px;
}

.main-btn {
font-size: 16px;
padding: 12px;
}

#overlay {
position: fixed;
top:0;
left:0;
width:100%;
height:100%;
background: rgba(0,0,0,0.8);
opacity:0;
pointer-events:none;
transition:0.3s;
}

#systemMsg {
position: fixed;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 32px;
opacity: 0;
color: #00ff9c;
transition: 0.3s;
}

.xpbar {
width: 80%;
height: 12px;
background: #111;
margin: auto;
}

#xpfill {
height: 100%;
background: #00ff9c;
width: 0%;
}
